.fg {
  width: 1px;
  opacity: 0.1;
  height: 40px;
  background-color: var(--black);
}

.line-width {
  width: 10px;
}

.button {
  width: 100%;
  background: white;
  border: none;
  text-align: left;
  padding: 7px 0px;
  margin: 0px;
  line-height: 1.6;

  &::after {
    border: none;
    border-radius: 0;
  }
}
