.tab-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 98px;
  background: #FFF;
  display: flex;
  line-height: 1.2;
  padding-bottom: env(safe-area-inset-bottom);
  border-top: 1px solid #e6e6e6;
}

.tab-bar-item {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tab-bar-item .image {
  width: 57px;
  height: 57px;
}
.bulge {
  background-color: #FFF;
}
.bulge .tab-bar-bulge {
  position: absolute;
  z-index: -1;
  top: -18px;
  width: 97px;
  height: 97px;
  border-radius: 50%;
  border-top: 1px solid #e6e6e6;
  background-color: #FFF;
}
.bulge .image{
  position: absolute;
  width: 127px;
  height: 127px;
  top: -32px;
  padding-top: 10px;
}

.tab-bar-item .tab-bar-view {
  font-size: 20px;
}
